<% if resource.errors.any? %>
  <div id="error_explanation" class="mt-5">
    <ul class="alert alert-danger">
      <% resource.errors.full_messages.each do |message| %>
        <li class="ml-3"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
