<div class="nav justify-content-end my-3" id="ranking_link_bar">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to '新着投稿', posts_path, class: 'nav-link text-secondary'  %>
    </li>
    <li class="nav-item">
      <%= link_to '総合いいね', all_time_ranking_path, class: 'nav-link text-secondary' %>
    </li>
    <li class="nav-item">
      <%= link_to '週間いいね', weekly_ranking_path, class: 'nav-link text-secondary' %>
    </li>
  </ul>
</div>