<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<!-- 新着投稿ダミー -->
<div class="card-deck">
<% @posts.each do |post| %>
  <div class="card">
    <% if post.image.attached? %>
      <%= link_to post_path(post), target: "_blank" do %>
        <%= image_tag post.image.variant(gravity: :center, resize:"480x480^", crop:"480x480+0+0").processed,
                class: 'card-img-top', style: 'width: 100%; height: auto', alt: '' %>
      <% end %>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= post.body %></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <div class="nav justify-content-end">
        <a href="#" class="btn btn-outline-danger">♡</a>
      </div>
    </div>
  </div>
<% end %>
</div>
<!-- end -->


<!-- 投稿新規作成ボタン -->
<div class='nav justify-content-end' style="position:fixed; bottom:25px; right:25px; z-index: 999;">
  <%= link_to '+', new_post_url, class: 'btn btn-primary rounded-circle' %>
</div>
