<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<div class='mt-3'>
  <%= form_with model: @post, url: new_post_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :post_image %>
    <%= f.file_field :post_image, class: 'form-control' %>
  </div>
  <% end %>
</div>
