<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>


<div class="card" style="width: 100%;">
  <%= image_tag @post.image.variant(resize: '1024x1024').processed, class: 'card-img-top', alt: '' %>
  <div class="card-body">
    <p class="card-text"><%= @post.body %></p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <div class="nav justify-content-end">
      <a href="#" class="btn btn-outline-danger">♡</a>
    </div>
  </div>

  <div>
    <!--コメント欄-->
  </div>
</div>
