// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.imagePreview {
  width: 100%;
  border-radius: 20px;
  background-position: center center;
  background-size: cover;
  display: inline-block;
}