<h2><%= @user.name %>の投稿一覧</h2>

<div class="mt-5">
  <table class="table">
    <% @posts.each do |post| %>
      <tbody>
        <td>
          <%= link_to post.id, post_path(post) %>
        </td>
        <td>
          <%= post.body.first(50) %>
        </td>
      </tbody>
    <% end %>
  </table>
</div>
<%= paginate(@posts) %>